<include file="./Public/template/header.html" />
<!-- Navigation -->
<include file="./Public/template/nav.html" />
<div id="page-wrapper" style="min-height: 475px;">
    <div class="col-lg-12">
        <h1 class="page-header">已回答问题</h1>
    </div>
    <div class="col-lg-12">
        <div class="panel panel-default">
            <div class="panel-heading">
                已回答问题列表
            </div>
            <!-- /.panel-heading -->
            <div class="panel-body">
                <div class="table-responsive">
                    <table class="table table-striped table-bordered table-hover">
                        <thead>
                        <tr>
                            <th>题目(title)</th>
                            <th>内容(content)</th>
                            <th>类型(type)</th>
                            <th>时间(time)</th>
                            <th>操作(action)</th>
                        </tr>
                        </thead>
                        <tbody>
                        <volist name="reply_list" id="vo">
                            <tr>
                                <td>{$vo.title}</td>
                                <td>{$vo.content}</td>
                                <td>{$vo.type}</td>
                                <td>{$vo.time}</td>
                                <td><a href="{:U('Home/Teach/detail/id/' . $vo['id'])}">详情</a></td>
                            </tr>
                        </volist>
                        </tbody>
                    </table>
                </div>
                <!-- /.table-responsive -->
            </div>
        </div>
        <!-- /.panel-body -->
    </div>
    <!-- /.panel -->
</div>
</div>
<include file="./Public/template/footer.html" />
