<include file="./Public/template/header.html" />
<!-- Navigation -->
<include file="./Public/template/nav.html" />
<div id="page-wrapper" style="min-height: 475px;">
    <div class="row">
        <div class="col-lg-12">
            <h1 class="page-header">添加年级</h1>
        </div>
        <!-- /.col-lg-12 -->
    </div>
    <div class="row">
        <div class="col-lg-12">
            <div class="panel panel-default">
                <!--    <div class="panel-heading">
                    提问
                </div> -->
                <div class="panel-body">
                    <form role="form" method="post" action="__ROOT__/Home/Admin/addGradeAct">
                        <div class="form-group">
                            <div class="form-group">
                                <label>所属系</label>
                                <select class="form-control" name="seriesid">
                                    <volist name="series_list" id="vo">
                                        <option value="{$vo.id}">{$vo.seriesname}</option>
                                    </volist>
                                </select>
                            </div>
                        </div>
                        <div class="form-group">
                            <label>系的名称</label>
                            <input class="form-control" type='text' name="gradename" placeholder="请输入系的名称" required="required">
                        </div>

                        <!--      <div class="form-group">
                                  <label>班级</label>
                                  <input class="form-control" type="text" name="classid" placeholder="请输入班级" required="required">
                              </div>-->





                        <input type="submit" class="btn btn-primary" value="提交">
                        <!--    <button type="button" class="btn btn-outline btn-primary btn-lg btn-block">提交</button> -->
                    </form>
                </div>
                <!--  -->
                <!-- /.panel-body -->
            </div>
            <!-- /.panel -->
        </div>
        <!-- /.col-lg-12 -->
    </div>
</div>
<!-- /#page-wrapper -->
<!-- /#wrapper -->
<include file="./Public/template/footer.html" />
