<include file="./Public/template/header.html" />
<!-- Navigation -->
<include file="./Public/template/nav.html" />
<div id="page-wrapper" style="min-height: 475px;">
    <div class="col-lg-12">
        <h1 class="page-header">班级列表</h1>
    </div>
    <div class="col-lg-12">
        <div class="panel panel-default">
            <div class="panel-heading">
                班级列表
            </div>
            <!-- /.panel-heading -->
            <div class="panel-body">
                <div class="table-responsive">
                    <table class="table table-striped table-bordered table-hover">
                        <thead>
                        <tr>
                            <th>所属系(seriesname)</th>
                            <th>所属年级(gradename)</th>
                            <th>班级名称(classname)</th>
                        </tr>
                        </thead>
                        <tbody>
                        <volist name="class_list" id="vo">
                            <tr>
                                <td>{$vo.seriesname}</td>
                                <td>{$vo.gradename}</td>
                                <td>{$vo.classname}</td>
                            </tr>
                        </volist>
                        </tbody>
                    </table>
                </div>
                <!-- /.table-responsive -->
            </div>
        </div>
        <!-- /.panel-body -->
    </div>
    <!-- /.panel -->
</div>
</div>
<!-- /#wrapper -->
<include file="./Public/template/footer.html" />
