<include file="./Public/template/header.html" />
<!-- Navigation -->
<include file="./Public/template/nav.html" />
<div id="page-wrapper" style="min-height: 475px;">
    <div class="row">
        <div class="col-lg-12">
            <h1 class="page-header">用户:{$userinfo.realname}</h1>
        </div>
        <!-- /.col-lg-12 -->
    </div>
    <div class="row">
        <div class="col-lg-12">
            <div class="jumbotron" style="padding: 48px 20px">
                <h1>登录成功</h1>
                <p>欢迎使用后台管理系统</p>
                <p>
                    <a role="button"  data-toggle="modal" data-target="#myModal" class="btn btn-primary btn-lg"> 退出</a>
                    <!--<a class="btn btn-primary btn-lg" role="button">退出</a>-->
                </p>
            </div>
        </div>
        <!-- /.col-lg-12 -->
    </div>
</div>
<!-- /#page-wrapper -->
</div>
<!-- /#wrapper -->
<include file="./Public/template/footer.html" />
